<!-- <!DOCTYPE html> -->

<html data-wf-page="5ceb87d038469c3a0fac79c2" data-wf-site="5cdbd77db102f92d5608a947">



<head>

  <meta charset="utf-8">

  <title>Contacter Loiret Dépannage à Orléans</title>

  <meta content="Contactez Loiret Dépannage à Orléans. Dépannage urgence, plomberie, assainissement, chauffagerie, serrurerie" name="description">

  <meta content="Contacter Loiret Dépannage à Orléans" property="og:title">

  <meta content="Contactez Loiret Dépannage à Orléans. Dépannage urgence, plomberie, assainissement, chauffagerie, serrurerie" property="og:description">

  <meta content="summary" name="twitter:card">

  <meta content="width=device-width, initial-scale=1" name="viewport">

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <link href="css/normalize.css" rel="stylesheet" type="text/css">

  <link href="css/webflow.css" rel="stylesheet" type="text/css">

  <link href="css/style.css" rel="stylesheet" type="text/css">


  <!-- load angular -->
  <script src="https://code.angularjs.org/1.4.0-rc.1/angular.js"></script>
  <script src="app.js"></script>

  <script>
    type = "text/javascript" > WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic",
          "Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic",
          "Merriweather:300,300italic,400,400italic,700,700italic,900,900italic"
        ]
      }
    });
  </script>
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
      $(function () {

        $('form').on('submit', function (e) {

          e.preventDefault();

          $.ajax({
            type: 'post',
            url: 'form_process.php',
            data: $('form').serialize(),
            success: function () {
              alert('form was submitted');
            }
          });

        });

      });
    </script> -->

  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->


  <link href="images2/logo-loiretdepannage-72px.png" rel="shortcut icon" type="image/x-icon">

  <link href="images2/logo-loiretdepannage-72px.png" rel="apple-touch-icon">


</head>



<body ng-app="validationApp" ng-controller="mainController">





  <div class="navbg"></div>

  <div class="section-2 page-header image bgcontact">

    <div class="banner-overlay"></div>

    <div class="wrapper left-aligned">

      <div class="row-2">

        <div class="col">

          <h1 class="no-margins page-title">Contacter Loiret Dépannage à Orléans</h1>

        </div>

      </div>

    </div>

  </div>
  <div class="nav-topnav" id="nav-myTopnav">
    <div class="nav-itemleft">
      <div class="nav-logo-area"><a href="https://loiret-depannage.com/"><img
        src="images2/logo-loiretdepannage-72px.png" alt="Loiret Dépannage"></a></div>
    </div>
  <div class="nav-itemright">
      <div class="nav-dropdown">
          <button class="nav-dropbtn" onclick="window.location.href='plomberie.html'">Plomberie
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="nav-dropdown-content">
            <a href="debouchage-canalisation-orleans.html">Débouchage</a>
            <a href="depannage-plomberie-orleans.html">Urgence plomberie</a>
          </div>
        </div> 
        <div class="nav-dropdown">
          <button class="nav-dropbtn" onclick="window.location.href='chauffagerie.html'">Chauffagerie
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="nav-dropdown-content">
            <a href="chauffagiste-orleans.html">Chauffagiste Orléans</a>
          </div>
        </div> 
        <div class="nav-dropdown">
          <button class="nav-dropbtn" onclick="window.location.href='assainissement.html'">Assainissement
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="nav-dropdown-content">
            <a href="adoucisseur.html">Adoucisseur d'eau</a>
          </div>
        </div> 
<a class="nav-top-padding" href="electricite.html">Electricité</a>
<a class="nav-top-padding" href="serrurerie.html">Serrurerie</a>

<div class="nav-dropdown">
  <button class="contact-button" style="" onclick="window.location.href='contact.html'">Contactez-nous
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="nav-dropdown-content">
    <a href="urgence.html">Urgence</a>
  </div>
  </div>
</div> 
<a href="javascript:void(0);" style="font-size: 30px;" class="nav-icon" onclick="myFunction()">&#9776;</a>
</div>
</div>


<script>
function myFunction() {
var x = document.getElementById("nav-myTopnav");
if (x.className === "nav-topnav") {
  x.className += " responsive";
} else {
  x.className = "nav-topnav";
}
}
</script>


  <div class="section">

    <div class="wrapper">

      <div class="row-2">

        <div class="col-2 lg-6"></div>

        <div class="col-2 lg-1"></div>

      </div>

      <div class="row-2">

        <div class="col-2 lg-5 align-vertically">

          <h2>société Loiret Dépannage</h2><br>

          <h3>219 rue du Clos Pasquies,
            
            <br>45650, Saint Jean Le Blanc</h3>

          <br>

          <div class="value-proposition-buttons"><a href="tel:0238778020" class="button margin-right w-button">02 38 77 80 20</a><a
              href="#" class="button margin-right w-button">contact@loiret-depannage.com</a></div>

          <hr style="width:100%; height:1px;border-top:2px solid #32CD32" />



          <div class="side-image map">

            <img src="images2/logo-loiretdepannage-500px.png" alt="">

          </div>

        </div>

        <div class="col-2 lg-1"></div>

        <div class="col-2 lg-6">

          <div class="contact-form-container card">

            <div class="margin-bottom">

              <h2 class="heading">Envoyez-nous un message</h2>

              <p class="paragraph-small">Complètez le formulaire ci-dessous, Loiret Dépannage traitera votre demande dans les

                meilleurs délais!<br></p>

            </div>


            <form name="contact" method="POST" data-netlify="true">
                <label>Nom: <input type="text" name="name" class="form-field w-input" ng-required="true" /></label>   
              <p>
                <label>Prénom: <input type="text" name="surname" class="form-field w-input" ng-required="true"/></label>   
              </p>
              <p>
                <label>Email: <input type="email" name="email" class="form-field w-input" ng-required="true"/></label>
              </p>
              <p>
                <label>Tel: <input type="phone" name="phone" class="form-field w-input" ng-required="true"/></label>
              </p>
              <p>
                <label>Vous êtes un: <select class="form-field w-input" name="role[]" multiple>
                  <option value="leader">Particulier</option>
                  <option value="follower">Professionel</option>
                </select></label>
              </p>
              <p>
                <label>Message: <textarea class="form-field w-input"name="message" ng-required="true"></textarea></label>
              </p>
              <div data-netlify-recaptcha="true"></div>

              <p>
                <button type="submit" class="button w-button">Envoyez votre message</button>
              </p>
            </form>

            <div class="form w-form">
              <!-- onsubmit="return validateForm()"    ng-submit='adduserForm.$valid && mainController(userForm.$valid)' -->

              <form id="email-form" name="userForm" data-name="Email Form" action="form_process.php" method="post">

                <div class="form-group"
                  ng-class="{ 'has-error' : userForm.surname.$invalid && !userForm.surname.$pristine }">
                  <input type="text" class="form-field w-input" name="surname" id="name-2" ng-model="user.surname"
                    ng-required="true" />
                  <!-- <p ng-show="userForm.surname.$invalid && !userForm.surname.$pristine" class="help-block">Votre prénom est requis.</p> -->
                  <p class="error" ng-show="userForm.surname.$invalid && userForm.surname.$touched">Entrez un prénom
                    valide</p>
                </div>


                <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                  <input type="text" class="form-field w-input" name="name" id="name-2" ng-model="user.name"
                    ng-required="true">
                  <!-- <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Votre nom est requis</p></div> -->
                  <p class="error" ng-show="userForm.name.$invalid && userForm.name.$touched">Entrez un nom valide</p></div>

                  <div class="form-group"
                    ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <input type="email" class="form-field w-input" name="email" data-name="Email 2" id="email-2"
                      ng-model="user.email" ng-required="true">
                    <!-- <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p></div> -->
                    <p class="error" ng-show="userForm.email.$invalid && userForm.email.$touched">Entrez un email valide
                    </p></div>
                    <div class="form-group"
                    ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
                    <input type="number" class="form-field w-input" name="phone" data-name="Phone 2" id="email-2"
                      ng-model="user.phone" ng-required="true"                    ng-minlength="10" 
                      ng-maxlength="10">
                    <p class="error" ng-show="userForm.phone.$invalid && userForm.phone.$touched" >Entrez un numéro de
                      téléphone valide</p>
                    </div>

                    <textarea id="field-2" name="field" ng-model="user.field" ng-minlength="50" maxlength="5000" data-name="Field 2"
                      class="text-area w-input" ng-required="true"></textarea>
                      <p class="error" ng-show="userForm.field.$invalid && userForm.field.$touched" >Entrez un message comprenant au moins 30 charactères !</p>

                    <button type="submit" ng-disabled="userForm.$invalid" name="submit" data-wait="En attente..."
                      class="button w-button">Envoyez votre message</button>

              </form>

              <div class="w-form-done">

                <div>Loiret Dépannage vous remercie! Votre message a bien été reçu!</div>

              </div>

              <div class="w-form-fail">

                <div>Mince! Un problème est survenu... Veuillez recommencer</div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="section section-footer">

    <div class="wrapper">

      <div class="row-2">

        <div class="col-2 lg-3 md-4 margin-bottom"><a href="index.html" class="<w-inline-block" style="padding-bottom: 20px;"><img src="images2/logo-loiretdepannage-72px.png" alt="Loiret dépannage Orléans"></a>

          <p class="ondark margin-top">Loiret Dépannage à Orléans, s'occupe de toutes vos urgences travaux en plomberie, chauffagerie, assainissement, electricité, serrurerie.</p>

        </div>

        <div class="col-2 lg-2 sm-6">

          <!-- <div class="footer-links-container">

            <h5 class="footer-heading"><a href="#" class="no-underline">Our Work</a></h5><a href="#" class="footer-link ondark">Portfolio</a><a href="blog.html" class="footer-link ondark">Contact us</a><a href="#" class="footer-link ondark">Careers</a></div> -->

        </div>

        <div class="col-2 lg-2 sm-6">

          <div class="footer-links-container">

            <h5 class="footer-heading"><a href="#" class="no-underline">Société Loiret Dépannage</a></h5><a href="CGU.html"
            class="footer-link ondark">CGU</a><a href="Mentions.html" class="footer-link ondark">Mentions légales</a>
          <!-- <a href="#" class="footer-link ondark">Blog</a><a href="#" class="footer-link ondark">FAQs</a> -->
        </div>

      </div>

      <div class="col-2 lg-2 sm-6">

        <!--  <div class="footer-links-container">

          <h5 class="footer-heading"><a href="#" class="no-underline">Business</a></h5><a href="#" class="footer-link ondark">Clients</a><a href="#" class="footer-link ondark">Team</a><a href="#" class="footer-link ondark">Offices</a><a href="#" class="footer-link ondark">Careers</a></div> -->

      </div>

      <div class="col-2 lg-3 sm-6 xs-12">

        <div class="footer-links-container">

          <h5 class="footer-heading"><a href="contact.html" class="no-underline">Nous contacter</a></h5>

            <p class="footer-paragraph"></p>

            <p class="footer-paragraph">02 38 77 80 20 <br>contact@loiret-depannage.com</p>

            <p class="footer-paragraph">219 rue du Clos Pasquies, <br>45650, Saint Jean Le Blanc</p>


          </div>
          <!--  <div class="negative-margin">

            <a target="_blank" href="#" class="social-media-link w-inline-block">

              <div class="fa-icon ondark"></div>

            </a><a target="_blank" href="#" class="footer-link w-inline-block"></a><a target="_blank" href="#" class="footer-link w-inline-block"></a><a target="_blank" href="#" class="footer-link w-inline-block"></a><a target="_blank" href="#" class="footer-link w-inline-block"></a><a target="_blank" href="#" class="footer-link w-inline-block"></a>

            <a target="_blank" href="#" class="social-media-link w-inline-block">

              <div class="fa-icon ondark"></div>

            </a>

            <a target="_blank" href="#" class="social-media-link w-inline-block">

              <div class="fa-icon ondark"></div>

            </a>

            <a target="_blank" href="#" class="social-media-link w-inline-block">

              <div class="fa-icon ondark"></div>

            </a>

            <a target="_blank" href="#" class="social-media-link w-inline-block">

              <div class="fa-icon ondark"></div>

            </a>

          </div> -->

        </div>

        <div class="col-2 lg-2 md-4"></div>

      </div>

    </div>

  </div>
</div>
  <script>
    // create angular app
    var validationApp = angular.module('validationApp', []);

    // create angular controller
    validationApp.controller('mainController', function($scope) {

      // function to submit the form after all validation has occurred			
      $scope.submitForm = function () {

        // check to make sure the form is completely valid
        if ($scope.userForm.$valid) {
          alert('our form is amazing');
        }

      };

    });
// ajax request message form sent

    // $(document).ready(function(){  
    //   $('#btn').click(function(){  
    //        var name = $('#name').val();  
    //        var nickname = $('#surname').val(); 
    //        var email = $('#email').val(); 
    //        var phone = $('#phone').val(); 
    //        var message = $('#field').val();  
    //        if(name == '' || message == '')  
    //        {  
    //             $('#error_message').html("All Fields are required");  
    //        }  
    //        else  
    //        {  
    //             $('#error_message').html('');  
    //             $.ajax({  
    //                  url:"form_process.php",  
    //                  method:"POST",  
    //                  data:{name:name, nickname:surname, email:email, phone:phone, message:message},  
    //                  success:function(data){  
    //                       $("form").trigger("reset");  
    //                       $('#success_message').fadeIn().html(data);  
    //                       setTimeout(function(){  
    //                            $('#success_message').fadeOut("Slow");  
    //                       }, 2000);  
    //                  }  
    //             });  
    //        }  
    //   });  
  </script>

  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="js/webflow.js" type="text/javascript"></script>

  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="js/webflow.js" type="text/javascript"></script>

  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

</body>



</html>